{% extends 'base.html' %}

{% block content %}


    <div class="container">
        <div id="row">
            <div class="col-md-6">
                <div class="col-md-10 col-md-offset-1">
                    <div class="section-title">
                        <h2>{{ dish.title }}</h2>
                    </div>
                    <p>{{ dish.desc }}</p>
                </div>
            </div>
            <div class="col-md-6">
            <div class="team-img"><img src={{ dish.photo.url }} alt=""></div>
          </div>
        </div>
    </div>


{% endblock %}