<!-- Features Section -->
<section id="features" class="text-center">
      <div class="container">
        <div class="section-title">
          <h2>Меню от шефа</h2>
        </div>
          <div class="row">
              {% for item in special %}
                  <div class="col-xs-12 col-sm-4">
                  <div class="features-item">
                      <h3><a href="/menu/dish/{{ item.pk }}"> {{ dish.title }} </a></h3>
                      <img src={{ item.photo }} class="img-responsive" alt="">
                      <p>{{ item.desc }}</p>
                  </div>
              {% endfor %}
              </div>
          </div>
      </div>
</section>