<!-- Restaurant Menu Section -->
<section id="restaurant-menu">
    <div class="container">
        <div class="section-title text-center">
            <h2>Меню</h2>
        </div>
        {% for category in categories %}
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="menu-section">
                  <h2 class="menu-section-title">{{ category.title }}</h2>
                  {% for dish in category.dishes %}
                      <div class="menu-item">
                        <div class="menu-item-name"><a href="/menu/dish/{{ dish.pk }}"> {{ dish.title }} </a></div>
                        <div class="menu-item-price"> $ {{ dish.price }} </div>
                        <div class="menu-item-description"> {{ dish.desc }} </div>
                      </div>

                  {% endfor %}
                </div>
              </div>

        {% endfor %}
    </div>
    </div>
</section>