<!-- Team Section -->
<section id="team">
      <div class="container">
        <div id="row">
          <div class="col-md-6">
            <div class="col-md-10 col-md-offset-1">
              <div class="section-title">
                <h2>Meet Our Chef</h2>
              </div>
              <p>{{ team_info.team_info }}</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="team-img"><img src="{{ team_info.photo.url }}" alt="..."></div>
          </div>
        </div>
      </div>
    </section>